{% extends "layout/basic.html" %}
{% block nav %}
<div class="col-md-6">
    <div class="header_text">{{current_article.title}} </div>
</div>
{% endblock  %}
{% block content %}
<div class="col-md-8">
    <p class="path">
        <a href="{% url 'back' %}">{{current_user.first_name}} {{current_user.last_name}}</a>
        /{{current_article.title}}</p>
    <div class="item-image">
        <img src="{{current_article.image.url}}" alt="article picture">
    </div>
    <div class="line"></div>
    <h4 class="item_title">{{current_article.title}}</h4>
    <div class="item_text">{{current_article.content}}</div>
</div>

{% endblock %}